<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.berkay22demirel.sinavpuanhesaplama">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InfoActivity"></activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".StaticsActivity" />
        <activity android:name=".AskedQuestionsActivity" />
        <activity android:name=".ExamCalendarActivity" />
        <activity android:name=".StartAnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SavedExamsActivity" />
        <activity android:name=".EusActivity" />
        <activity android:name=".TusActivity" />
        <activity android:name=".DusActivity" />
        <activity android:name=".EkpssActivity" />
        <activity android:name=".DgsActivity" />
        <activity android:name=".YdsActivity" />
        <activity android:name=".YksActivity" />
        <activity android:name=".KpssActivity" />
        <activity android:name=".AlesActivity" />
    </application>

</manifest>
